# General
.DS_Store
._.DS_Store
._README.md
__pycache__/
._*
*/.nfs*

# Data
data/cityrefer
data/sensaturban/scans/*
data/sensaturban/pointgroup_data
data/sensaturban/cpp_wrappers/cpp_subsampling/build
data/sensaturban/cpp_wrappers/cpp_subsampling/*so

# Outputs
outputs/
